.row-style {
  /*margin-top: 80px;*/
  padding-top: 40px;
  padding-bottom: 40px;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}



footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: rgb(255, 255, 255);
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: 100vh;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

body {
  font-family: "Jost", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(10deg, #b9d6f2, rgba(3, 83, 164, 0.8));
  margin: 0;
  padding: 0;
}

.subbackground {
  position: static;
  margin-right: 120px;
  margin-left: 120px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0px 8px 6px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  color: #111010;
  font-weight: bold;
  font-family: sans-serif;
  font-weight: 900;
}

.subtitulo {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 20%;
  height: fit-content;
  padding: 20px;
  background-color: #b9d6f2;
  border-radius: 15px;
}

.sidebar h3,
.sidebar h4 {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.sidebar a {
  color: #000;
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
}

.sidebar ul li ul {
  margin-top: 10px;
  padding-left: 20px;
}

.sidebar ul li ul li {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.filtros {
  padding-left: 10px;
}

.filtros h4 {
  margin-bottom: 10px;
}

.filtros ul {
  list-style-type: none;
  padding-left: 10px;
}

.filtros ul li {
  font-size: 16px;
  margin-bottom: 15px;
}

.colores {
  margin-bottom: 10px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #000;
}

.color:nth-child(1) {
  background-color: #ffffff;
}
.color:nth-child(2) {
  background-color: #cccccc;
}
.color:nth-child(3) {
  background-color: #f9e04b;
}
.color:nth-child(4) {
  background-color: #58ef58;
}
.color:nth-child(5) {
  background-color: #0353a4;
}
.color:nth-child(6) {
  background-color: #e32929;
}

button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 20px auto 0 auto;
  background-color: #0353a4;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #555;
}

.contenido {
  flex: 1;
}

.lista-productos {
  padding: 0 20px;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.producto {
  display: block;
  width: 600px;
  background-color: #a5cbe7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  color: #000;
}

.producto img {
  width: 100%;
  height: auto;
}

.contenedor-img {
  position: relative;
  width: 100%;
}

.contenedor-img img:first-child {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.contenedor-img img[alt="zoom"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.producto h3 {
  font-size: 24px;
  margin: 15px 0 10px 0;
  font-weight: bold;
  color: #000;
}

.producto p {
  font-size: 16px;
  margin: 5px 20px;
  color: #000;
}

.producto .detalles {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.producto .detalles .vendidos {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.producto .detalles .precio {
  color: #000;
}

/* BUSCADOR */
.nav-search {
  text-align: center;
  padding: 0 !important;
  margin: 1rem 0 3rem 0;
}
.search {
  text-align: left;
  max-width: 20%;
  width: 100%;
  border: 1px solid #999;
  border-radius: 1.5rem;
  padding: 0.4rem;
  font-size: 0.8em;
  padding-left: 0.8rem;
}
.search:focus {
  outline: 0;
}

.search:hover {
  border-color: rgb(3, 83, 164);
}

#lupa {
  margin-right: 0.3rem;
  color: rgb(3, 83, 164);
}

/*BOTONES DE FILTRO EN PRODUCTOS*/

#clearRangeFilter,
#clearRangeFilterSmall {
  color: white;
  margin: auto;
}

#rangeFilterCount {
  margin: auto;
  margin-left: 2rem;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27%;
  margin-left: 27%;
  margin-top: 1%;
  padding: 0.4rem;
  border-radius: 1.5rem;
  width: 100%;
}

.filter-price-text {
  width: fit-content;
  text-align: right;
  padding-right: 0.4rem;
  margin-left: 2rem;
  color: white;
  font-weight: 500;
}

.filters-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button {
  margin-top: 0;
}

#linePrice {
  color: white !important;
  max-width: fit-content;
  padding: 0.5rem;
  font-weight: 600;
}

#products-head-list {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.8px;
  text-align: center;
  color: white;
  margin-top: 50px;
  color: white !important;
}


/* Estilos de PRODUCT-INFO */

.product-description {
  display: flex;
  flex: 1;
  padding-right: 20px;
  color: #333;
  background: linear-gradient(#ffffff44, #ffffff96);
  border-radius: 1rem;
}
.productContent {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
}

#product-name {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Jost", sans-serif;
  color: rgb(241, 241, 241);
  text-transform: uppercase;
  padding-top: 2rem;
  text-align: left;
}

.product-name {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.st-products-category {
  font-weight: 500;
  font-size: 1rem;
}
.st-products-category span {
  font-weight: 400;
}
.st-products {
  font-size: 1rem;
}
.productImages {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 0;
}

.containerMainImage {
  width: 100%;
  overflow: hidden;
}
.containerSecondaryImages {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mainImage {
  width: 100%;
  margin: 10px 0px;
  border-radius: 1rem;
  box-sizing: content-box;
  transition: transform 0.2s;
}
.mainImage:hover {
  transform: scale(1.5);
}
.unitImages {
  display: flex;
  padding: 0.1rem;
  max-width: 12rem;
  max-height: 6.8rem;
}

.unitImages:hover {
  border: 1px groove #5a7ec2b0;
}

.containerInfo {
  padding-right: 1rem;
  align-items: center;
  background: linear-gradient(#ffffff44, #ffffff96);
  border-radius: 1rem;
  margin: 1.5rem;
  margin-right: 0;
}

.cost {
  font-size: 1.3em;
}
.currency {
  font-size: 0.7em;
}


/*MEDIA para info de productos*/
@media (min-width: 320px) and (max-width: 980px) {
  .productContent,
  .product-name {
    max-width: 91%;
  }
}

/* MEDIDA XS HASTA  575px */
@media (min-width: 320px) and (max-width: 575px) {
  #products-head-list {
    font-size: 1.6rem;
    line-height: 30px;
    margin-top: -2%;
  }
}

/*ESTILO PARA FILTROS*/
.filters-container {
  display: none; /* Para ocultar los filtros de pantallas grandes */
}

.filters-container input {
  padding: 0.2rem;
}

.filters-container label {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

.filters-container button {
  padding: 0.2rem;
}

.accordion {
  margin-bottom: 1rem;
  margin-right: 6%;
}

#filtersAccordion {
  border: none;
  margin-top: 1rem;
}

.accordion-body label,
.accordion-body input {
  font-size: 0.8rem;
}

#filtersAccordion .accordion-body {
  padding: 0.75rem;
}

#filtersAccordion .accordion-body .btn-group,
#filtersAccordion .accordion-body input {
  width: 100%;
  margin-top: 0.5rem;
}

#filtersAccordion .accordion-body .filter-price-text {
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding-right: 0.5rem;
  font-size: 0.85rem;
}

#clearRangeFilterSmall {
  margin-left: 0;
}

#rangeFilterCountSmall {
  margin-left: 0;
  font-size: 0.8rem;
}

.accordion-button:not(.collapsed) {
  color: #000;
}

#filtersAccordion .accordion-button {
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
  padding: 0.3rem 0.5rem;
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.form-control {
  padding: 0.2rem;
}

/* MEDIDA XS HASTA  575px */
@media (min-width: 320px) and (max-width: 575px) {
  #products-head-list {
    font-size: 1.6rem;
    line-height: 30px;
    margin-top: -2%;
  }
}

/*ESTILO PARA FILTROS*/
.filters-container {
  display: none; /* Para ocultar los filtros de pantallas grandes */
}

.filters-container input {
  padding: 0.2rem;
}

.filters-container label {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

.filters-container button {
  padding: 0.2rem;
}

.accordion {
  margin-bottom: 1rem;
  margin-right: 6%;
}

#filtersAccordion {
  border: none;
  margin-top: 1rem;
}

.accordion-body label,
.accordion-body input {
  font-size: 1rem;
}

#filtersAccordion .accordion-body {
  padding: 0.75rem;
}

#filtersAccordion .accordion-body .btn-group,
#filtersAccordion .accordion-body input {
  width: 100%;
  margin-top: 0.5rem;
}

#filtersAccordion .accordion-body .filter-price-text {
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding-right: 0.5rem;
  font-size: 1rem;
}

#clearRangeFilterSmall {
  margin-left: 0;
}

#rangeFilterCountSmall {
  margin-left: 0;
  font-size: 1rem;
}

.accordion-button:not(.collapsed) {
  color: #000;
}

#filtersAccordion .accordion-button {
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.form-control {
  padding: 0.4rem;
}

/*MEDIDA SM HASTA 768PX*/
@media (min-width: 576px) and (max-width: 768px) {
  #products-head-list {
    font-size: 35px;
    margin-top: 0px;
  }
}

/* MEDIDA XL */
@media (min-width: 1200px) and (max-width: 1399px) {
  #products-head-list {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: white;
    margin-top: 50px;
  }
}

.subtitulo {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: center;
}
/* MEDIDA XS HASTA  575px */
@media (min-width: 320px) and (max-width: 575px) {
  .subtitulo {
    font-size: 0.8rem;
    line-height: 5px;
    margin-top: -1%;
  }

  .search {
    max-width: 45%;
    padding: 4px 9px 4px 9px;
    margin-top: 0.2rem;
  }

  .nav-search {
    margin-bottom: 1.5rem;
  }
}

/*MEDIDA SM HASTA 767PX*/
@media (min-width: 576px) and (max-width: 767px) {
  .subtitulo {
    font-size: 20px;
    line-height: 5px;
    margin-top: -1%;
  }
}

/*MEDIDA LG PARA TABLET HASTA 1199PX*/
@media (min-width: 768px) and (max-width: 1199px) {
  .subtitulo {
    font-size: 20px;
    line-height: 5px;
    margin-top: -1%;
  }

  .search {
    max-width: 30%;
    padding: 7px 12px 7px 12px;
    margin-top: 0.5rem;
  }

  .nav-search {
    margin-bottom: 2rem;
  }
}

#carta-img {
  /*background: rgb(255, 255, 255);*/
  background: #b9d6f2;
}
#carta-img {
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .list-group {
    margin-top: -10%;
    height: 10%;
    margin-bottom: -15%;
  }
}

#navbar {
  background: #0353a4 !important;
}
#img-carta {
  border-radius: 20px 20px 0px 0px !important;
}

.car-cost {
  font-size: 20px;
}
/*MEDIDA XS */
@media (min-width: 320px) and (max-width: 575px) {
  .card-text {
    font-size: 11.5px;
    margin-top: -0.5em;
  }
}

.car-description {
  font-size: 16px;
}
/*MEDIDA XS*/
@media (min-width: 320px) and (max-width: 575px) {
  .car-description {
    font-size: 12px;
    line-height: 1em;
  }
}

.nav-link {
  color: #fff !important;
}

/*Clases del nuevo footer que usamos en el login para que quede igual*/
.footer-container {
  background-color: #b9d6f2;
  padding: 3px;
  /*margin-top: 100px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  color: #000000;
  padding: 10px 0;
}

.footer-link {
  color: #061a40;
  text-decoration: none;
}

hr {
  width: 75%;
  height: 1px;
  background-color: #0353a4;
  margin: 0 auto;
}
.subbackground {
  margin-left: 5%;
  margin-right: 5%;
}

/* Sección calificaciones */
.commentCard {
  background-color: rgba(255, 255, 255, 0.418);
  max-width: 50rem;
  border-radius: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
}

.container-comments {
  background: linear-gradient(#ffffff44, #ffffff96);
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 1.5rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.stars {
  color: rgba(3, 83, 164, 0.959);
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.commentDescription {
  font-size: 1.15rem;
  font-weight: 450;
}

.userNameComment {
  color: rgba(3, 83, 164, 0.959);
  font-weight: 500;
  font-style: italic;
  font-size: 1.05rem;
  margin-bottom: 0;
}

.dataComment {
  font-weight: 300;
  font-size: 0.9rem;
}

.titleOpinions {
  justify-content: left;
  margin-left: 4rem;
  padding: 2rem 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}
/*MEDIA PARA SECCION CALIFICACIONES*/
@media (min-width: 576px) and (max-width: 980px) {
  .commentCard {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    padding-left: 1.5rem;
  }

  .dataComment {
    margin-bottom: 0;
  }

  .container-comments {
    max-width: 91%;
  }

  .titleOpinions {
    margin-left: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .commentCard {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
  }

  .dataComment {
    margin-bottom: 0;
    font-size: 0.8rem;
  }

  .container-comments {
    max-width: 91%;
  }

  .titleOpinions {
    margin-left: 1.2rem;
    padding-left: 0;
  }

  .commentDescription {
    font-size: 1rem;
  }

  .userNameComment {
    font-size: 0.95rem;
  }
}
/* MEDIDA XS*/
@media (min-width: 320px) and (max-width: 575px) {
  #margin-p {
    margin-top: 40px;
  }
}

/*MEDIDA SM*/
@media (min-width: 576px) {
  #margin-p {
    margin-top: 50px;
  }
}

/*MEDIDA XL*/
@media (min-width: 1200px) {
  #margin-p {
    margin-top: 100px;
  }
}

div #margin-p {
  margin-left: auto;
  margin-right: auto;
}

#product-image img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productInfo {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.productInfo h3 {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

/*MEDIDA Para fotos productos-info*/
@media (min-width: 320px) and (max-width: 575px) {
  #products-head-list {
    font-size: 35px;
    margin-top: 0px;
  }
  .containerSecondaryImages {
    display: flex;
    flex-direction: column;
    max-width: 97%;
    width: 97%;
    max-height: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
  }

  .unitImages {
    max-width: 100%;
    max-height: 100%;
    box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    padding: 0;
  }

  .containerMainImage,
  .containerInfo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .mainImage {
    border-radius: 0 0 1rem 1rem;
    margin-top: 0;
  }

  .productImages {
    padding-top: 0;
  }
  .containerInfo {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
  }

  .productInfo {
    padding: 0 1.5rem;
  }

  .productInfo h3 {
    font-size: 1rem;
  }

  .productInfo p {
    font-size: 1rem;
  }

  #product-name {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.2rem;
  }

  .productContent {
    margin-top: 1rem;
  }
}

/*MEDIDA Para fotos productos-info*/
@media (min-width: 576px) and (max-width: 878px) {
  #products-head-list {
    font-size: 35px;
    margin-top: 0px;
  }
  .containerSecondaryImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    max-width: 97%;
    width: 97%;
    max-height: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
  }

  .unitImages {
    max-width: 100%;
    max-height: 100%;
    box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473) !important;
    padding: 0;
  }

  .containerMainImage,
  .containerInfo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .mainImage {
    border-radius: 0 0 1rem 1rem;
    margin-top: 0;
  }

  .productImages {
    padding-top: 0;
  }
  .containerInfo {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
  }

  .productInfo {
    padding: 0 1.5rem;
  }

  .productInfo h3 {
    font-size: 1.3rem;
  }

  .productInfo p {
    font-size: 1.3rem;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .unitImages {
    display: flex;
    max-width: 7rem;
  }

  .containerSecondaryImages {
    margin-top: 0.5rem;
  }
}

@media (min-width: 990px) and (max-width: 1120px) {
  .unitImages {
    max-width: 10rem;
  }
}
/*MEDIDA PARA LA TABLET BUSCADOR*/
@media (min-width: 320px) and (max-width: 1024px) {
  .lupa-estandar {
    display: none;
  }
  .buscador-estandar {
    display: none;
  }
}
/* MEDIDA PARA PC BUSCADOR*/
@media (min-width: 1025px) and (max-width: 1920) {
  .lupa-pequeña {
    display: none;
  }
  .buscador-pequeña {
    display: none;
  }
}

/*estilos productos relacionados*/

#carta-rel {
  text-align: center;
  border-radius: 20px;
  background-color: #b9d6f2;
}

#rel-card {
  text-align: center;
  border-radius: 20px;
  background-color: #b9d6f2;
  width: 40rem;
}

#carouselExampleCaptions {
  background: #b9d6f2;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 1.5rem;
  border-radius: 20px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
}
#rel-prod {
  text-align: center;
  font-size: 1.3rem;
}

/* BOTON DE ATRAS Y SIGUIENTE*/
.button-rel {
  margin-top: 8em;
}

.button-rel:hover {
  background-color: transparent;
}
.item{
 background-color:black
 
}

.ver-ver0 {
  border-radius: 50px;
  height: 3em;
  width: 35em;
  background-color: #0353a4;
}
.ver-ver0:hover {
  background-color: #0353a4;
}

.rel-name {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
}

.carousel-inner {
  border-radius: 20px;
}

/*MEDIDA CELULAR DE PROD. RELACIONADOS*/
@media (min-width: 320px) and (max-width: 575px) {
  .carousel-inner {
    height: 25em;
    width: 20em;
  }
  .rel-name {
    margin-right: 2em;
  }
  #rel-card {
    height: 25em;
    width: 25em;
  }
  #img-rel0 {
    height: 15em;
    width: 20em;
  }
  #carta-rel {
    height: 50em;
    width: 28em;
  }
  #carouselExampleCaptions {
    width: 20em;
  }

  #img-rel {
    width: 28em;
    height: 21.5em;
  }
  .ver-ver0 {
    width: 18em;
    margin-right: 30em;
  }
  .mod-titulo {
    font-size: 2em;
    margin-left: 2em;
  }
}
/*MEDIDA ESTANDAR DE FORMULARIO/COMENTARIOS */
/* boton de comentarios */
#btnNewComm {
  border-radius: 10px;
  background-color: #0353a4;
  display: flex;
  color: white;
  justify-content: center;
  width: 80%; 
  max-width: 800px;  
  margin: 10px auto; 
  font-size: 18px;

}
/*formulario */
#collapseExample {
  border-radius: 15px;
}


#userNameComm{
  margin-top: 1.5rem;
}

.fecha-comentario {
  font-style: italic;
  color: #000;
  font-size: 13px;
}
.card-body1 {
 background-color:#d6e6f5 ;
 border-radius: 15px;
 box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
 width: 80%; 
 max-width: 800px;  
 margin: 10px auto;  
 padding: 10px;
}

#botonenviar {
  border-radius: 15px;
  background-color: #0353a4;
  display: flex;
  justify-content: center;
  border: none;
}
#botonenviar:focus,
#botonenviar:active {
    background-color: #0353a4; 
    outline: none; 
    box-shadow: none; 
}
.cajadeescritura {
  background-color: #badbf0ec;
  border: none;
  width: 100%;
  height: 70px;
  border-radius: 15px;
}

/*Validaciones formulario*/
.is-invalid {
  background-color: #f8d7da; 
  color: #721c24; 
  border: 2px solid red; 
}

.is-valid {
  background-color: #d4edda; 
  color: #155724; 
  border: 2px solid green;
}

.clasificacion.is-invalid {
  color: #dc3545;
  border-color: #dc3545;
}

p.clasificacion.is-invalid label {
  color: #dc3545;
}

/* Estrellas */ 
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 20px;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}
.clasificacion {
  display: inline-flex;   
  flex-direction: row-reverse;  
  font-size: 35px;
}
input[type="radio"] {
  display: none; /
}
label {
  color: #badbf0ec ;
  cursor: pointer;
}
label:hover,
label:hover ~ label {
  color:#0353a4;
}
input[type="radio"]:checked ~ label {
  color:#0353a4;
}

/*Estilos de validaciones en formulario de nuevo comentario*/
.is-valid {
  border: 2px solid green; 
}

.is-invalid {
  border: 2px solid red; 
}

.is-invalid {
  background-color: #f8d7da;
  color: #721c24;
}

.is-valid {
  background-color: #d4edda; 
  color: #155724; 
}

#feedbackStar {
  padding-top: 0;
  padding-bottom: 0.5rem;
  margin-top: 0;
}

/* MEDIDA TABLT FORMULAARIO/COMENTARIOS */
@media (min-width: 768px) and (max-width: 1199px) {
  .card-body1 {
    background-color:#d6e6f5 ;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    width: 91%; 
    max-width: 800px;  
    margin: 10px auto;  
    padding: 10px;
   }
  }

/* MEDIDA PARA CELULARES FORMULARIO/COMENTARIOS */
@media (min-width: 320px) and (max-width: 575px) {
.card-body1 {
width: 100%;
max-width: 84%;
margin-left: 1rem;
margin-right: 1rem;
border: none;
box-sizing: content-box;
}
.cajadeescritura{
  max-width: 98.5%;
}
#btnNewComm{
  box-sizing: content-box;
} 
}

/*Estilos para MY PROFILE*/
#headerProfile {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.8px;
  text-align: center;
  color: white;
  padding-top: 50px;
  color: white !important;
}

.card-profile-form {
  background: linear-gradient(#ffffff44, #ffffff96);
  max-width: 100%;
  border-radius: 1rem;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 5rem;
  margin-bottom: 1rem;
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
}

.card-pic-form {
  background: linear-gradient(#ffffff44, #ffffff96);
  max-width: 50% ;
  border-radius: 1rem;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 2rem;
  margin-bottom: 1rem;
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
}

.profile-container{
  width: 95%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.profile-input {
  background-color: #f5f5f5;
  color: #1a1a1a;
  padding: 8px 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
}

.pic-input {
  border-radius: 8px;
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: 0;
}

.form-label {
  margin-bottom: 5px;
  padding-bottom: 2px;
  color: black;
  font-size: 1.1rem;
}

#profilePic {
  width: 12rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.473);
  align-self: center;
  padding: 0;
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.btn-profile {
border-radius: 1rem;
background-color: #0353a4;
color: white;
width: fit-content;
padding: 0.5rem 1.6rem;
font-size: 1.4rem;
border: none;
box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.253);
margin-top: 2rem;
margin-bottom: 10rem;
font-weight: 400;
}

#form-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  box-sizing: content-box;
}


.form-check-input {
  transform: scale(1.8);
  margin-left: 0.9rem !important;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

.form-check-label {
  font-size: 1.1rem;
  color: #000;
}



.card-pic-form h2 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.alert-light {
  width: 18rem;
}

/* Estilos para validaciones*/
.profile-input.valid {
  border-color: #28a745; 
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.profile-input.invalid {
  border-color: #dc3545; 
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.valid-feedback {
  color: #28a745; 
}

.invalid-feedback {
  color: #dc3545; 
}
.dark-mode .invalid-feedback {
  color: rgb(216, 79, 79);
}

.dark-mode .alert-body {
  color:#000;
}

/*Medidas responsive para Mi Perfil*/
@media (min-width: 320px) and (max-width: 575px){
  #headerProfile {
    font-size: 30px;
    padding-top: 1.8rem;
  }
  

  .profile-container {
    flex-direction: column;
    align-items: center; /* Centra los contenedores */
    width: 100%;
    margin: 0 auto; /* Elimina márgenes laterales */
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 1rem !important;
  }

  .card-profile-form, 
  .card-pic-form {
    max-width: 100%; /* Asegura que ambos tengan el mismo ancho */
    width: 100%;
    margin-left: 0; /* Remueve los márgenes laterales grandes */
    margin-right: 0;
    margin-bottom: 1rem;
    padding: 1rem; /* Ajusta el padding para pantallas más pequeñas */
  }
  
  .pic-input {
    margin-top: 0;
font-size: 0.8rem;
max-width: fit-content;
margin-bottom: 2rem;
  }
  
  #profilePic {
    margin-bottom: 2rem;
  }
  
  
  .btn-profile {
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 1199px){
  .profile-container{
    width: 100%;
    gap: 0.5rem;
  }

  .card-profile-form {
    padding: 2rem 2rem;
    max-width: 20rem;
  }
  
  .card-pic-form {
    padding: 2rem 2rem;
    width: 20rem !important;
  }

  .pic-input {
    border-radius: 6px;
    width: 98%;
    padding: 0.1rem;
    margin-bottom: 2.5rem;
  }
}

/*MODO NOCHE*/
.dark-mode body {
  background: linear-gradient(10deg, #154674, rgba(11, 34, 58, 0.8)) !important;
  color: #e0e0e0 !important;
}

.dark-mode main {
  background: linear-gradient(10deg, #154674, rgba(11, 34, 58, 0.8)) !important;
  color: #e0e0e0 !important;
}


.dark-mode #navbar {
  background-color: #0a1d30 !important; /* Navbar más oscura */
}

.dark-mode  .footer-container, .dark-mode .img-thumbnail{
  background: #0a1d30;
}

.dark-mode .img-thumbnail{
  border: #0a1d30 ;
}


.dark-mode .footer-link{
  color: #0353a4;
}

.dark-mode .card-profile-form, .dark-mode .subbackground {
  background: linear-gradient(#24232344, #5f5f5f96);
}

.dark-mode .list-group-item {
  background: linear-gradient(#24232344, #5f5f5f96);
}

.dark-mode h4, .dark-mode p, .dark-mode .form-label, .dark-mode .form-check-label, .dark-mode .footer-content {
  color: white;
}

.dark-mode .text-muted {
  color: rgb(206, 204, 204) !important;
}
 

.dark-mode .profile-input, .dark-mode .pic-input {
  background-color: rgba(253, 251, 251, 0.801);
}

.dark-mode .btn-primary {
  background-color: #0a1d30; /* Botones */
  border-color: #043566;
}

.dark-mode .profile-pic {
  border: 1px solid #444;
}

.dark-mode .card-pic-form {
    background: linear-gradient(#24232344, #5f5f5f96);
}

.dark-mode #carta-img{
 background: #0a1d30;
}
  /* MODO NOCHE PARA PRODUCT-INFO.HTML */
.dark-mode .product-description { 
  background: linear-gradient(0deg, rgba(11, 34, 58, 0.8), #154674);
  color: #e0e0e0;
}

.dark-mode #btnNewComm {
  background-color:#0a1d30;
  border-color:#043566 ;
  color: white;
  justify-content: center;
  width: 80%; 
  max-width: 800px;  
  margin: 10px auto; 
  font-size: 18px;
}
.dark-mode #botonenviar {
  background-color: #0a1d30;
  border-color: #043566;
  display: flex;
  justify-content: center;
  border: none;
}
.dark-mode .commentCard {
  background: linear-gradient(0deg, rgba(11, 34, 58, 0.8), #154674);
}
.dark-mode .container-comments {
  background: linear-gradient(0deg, rgba(11, 34, 58, 0.8), #154674);
}
.dark-mode .card-body1 {
  background: linear-gradient(0deg, rgba(11, 34, 58, 0.8), #154674);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
 }
 .dark-mode .cajadeescritura {
  background: linear-gradient(0deg, rgba(11, 34, 58, 0.8), #154674);
}
.dark-mode .containerInfo {
  background: linear-gradient(180deg, rgba(11, 34, 58, 0.8), #154674); 
}
/* ESTRELLAS CALIFICACION NOCHE */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 20px;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}
.clasificacion {
  display: inline-flex;   
  flex-direction: row-reverse;  
  font-size: 35px;
  margin-bottom: 0;
}
input[type="radio"] {
  display: none;

}
.dark-mode label {
  color: #081f3dec ;
  cursor: pointer;
}
.dark-mode:hover,
label:hover ~ label {
  color: rgb(255, 255, 255);
}
.dark-mode [type="radio"]:checked ~ label {
  color:white;
}
/* PRODUCTOS RELACIONADOS NOCHE */
.dark-mode #carta-rel {
  background: linear-gradient(90deg, #154674, rgba(11, 34, 58, 0.8));
}

.dark-mode #rel-card {
  background: linear-gradient(90deg, #154674, rgba(11, 34, 58, 0.8));
}
.dark-mode .ver-ver0 {
  background-color: #0a1d30;
  border-color: #043566;
}

/*Estilos transición productos relacionados*/

/* Loading spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.spinner-container {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.d-none {
  display: none !important;
}

.fade-out {
  opacity: 0;
}

/* Animaciones para las cards de productos relacionados */
#rel-card, #carta-rel {
  transition: transform 0.3s ease-in-out;
}


/* Botón mientras carga */
.ver-ver0.loading {
  pointer-events: none;
  opacity: 0.7;
}

/* BOTON COMPRAR DIA */
.buy-btn-container{
  margin-top: auto;
  padding-top: 11.8rem;
}

.btn-comprar{
  font-size: 1.2rem;
  padding: 0.5rem 0.4rem;
  width: 14rem;
  border-radius: 0.5rem;
  line-height: 1.6rem;
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
}

.dark-mode .btn-comprar {
background: #DDEEFF;
box-shadow: -1px 2px 5px #aed0f0;
color: #001932;
}

/* CONFIARMACION DE COMPRA */
.modal-content {
  border-radius: 10px;
  background: linear-gradient(10deg, #b9d6f2, rgba(3, 83, 164, 0.8));
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  margin-top: 200px;
}
.modal-footer {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  width: 100%; 
}
.modal-footer .btn {
  flex: 1; /* Hace que ambos botones ocupen el mismo espacio */
  margin: 0 5px; /* Espaciado horizontal entre los botones */
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dark-mode #confirmationModalLabel {
  color:white;
}
#confirmationModalLabel {
  color:#000;
}
#confirmationModal .modal-content {
  border: none; 
  box-shadow: none; 
  height: auto; 
  min-height: 200px; 
}
#confirmationModal .modal-header {
  border-bottom: none;  
}
#confirmationModal .modal-footer {
  border-top: none; 
}
#confirmationModal .modal-title {
  flex-grow: 1; 
  text-align: center; 
  padding-top: 35px;
  font-weight: 450;
}
/* OPCION GRIS DE CONFIRMACION */
.btn-gris {
  background-color: #6c757d;
  color: white;               
  border: none;               
}
/* OPCION AZUL DE CONFIRMACION */
.btn-dark-azul {
  background-color: #003366; 
  color: white;               
  border: none;               
}





/* CARRITO DE COMPRAS VACIO*/
 
.carritoText{
  margin-top: 1em;
  font-size: 120%;
  font-family:"Jost", sans-serif;
}
  
.bi-cart{
  margin-top: 5em;

}
#btn-cart{
background-color: #0353a4;
margin-top: 1em;
}
.espacioCart{
  margin-top: 7.5em;
}
.conjuntoCart{
  text-align: center;
}
 /*CARRO con cosas*/

 .bi-trash3-fill{
  margin-right: 1rem !important;
 }

 .menos, .mas {
  padding: 0;
 }

 .td-cant {
  display: flex;
  flex-direction:row;
 }

#containerCarritoLleno{
  text-align: center;
  
}

#tablaCart {
  border-collapse: separate;
  border-spacing: 1.5rem 0rem;
}

#tablaCart td {
font-size: 1.2rem;
}

#carritoTitulo{
  font-family: "Jost", sans-serif;
  text-align: center;
  color: white;
  margin-top: -5em;
  
}
#cartCompras{
  margin-top: 10em;
}
 
.fixed-column {
  width: 18rem;
  text-align: center;
}

.totalFin {
  max-width: 4rem;
}

.icon-image-container {
  display: flex;
  align-items: center;
}

.cartImage{
  width: 20rem;
  height: auto;
  border-radius: 1em;
  box-shadow: #000;
  margin-right: 1rem;
}
.background{
  width: fit-content;
  height: fit-content;
  margin-left: 27em;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0px 8px 6px 4px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2rem 1.5rem 0.5rem;
}
.dark-mode .background{
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, rgba(56,85,113,1) 0%, rgba(27,51,75,1) 82%);
  
}
.dark-mode .table-borderless td {
  color:white;
}

.table-borderless td {
  text-align: right;

   
 }
.nombreProd{
text-align: left !important;
color: white;
font-size:1.2em;
font-family:"Jost", sans-serif;
font-weight: 600;
text-transform: uppercase;
}

 .cartProducts{
  margin-top: -2em; }

.dark-mode .bi-dash-circle, .dark-mode .bi-plus-circle{
  color:white;
}
 

 #cajaCant{
  background-color: transparent;
  border-color: transparent;
 }
 .dark-mode #cajaCant{
  color: white
 }
 
 .btn-cartFinal{
background-color: #0353a4;
margin-top: 1rem;
font-size: 1.2em;
border-radius: 0.5rem;
font-weight: 300;
width: 9rem;
box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.25);
text-align: center;
border: none;
line-height: 1.6rem;
 }


#finallity-table td{
font-weight: bold;}

li #badge-unico{
  width: 2em;
  
}
 
 .carrito-ultimo{
  background-color: transparent;
  height: 2rem;
  width: 2rem;
 }
#nav-carrito{
  margin-top: -1em;
}
::marker{
  color: transparent;
}
#carritoTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Jost", sans-serif; 
  font-size: 2em; 
}

#carritoTitulo::before,
#carritoTitulo::after {
  content: "";
  flex: 0.2; /* Reduce el valor para hacer las líneas más cortas */
  border-top: 1px solid white; 
  margin: 0 0.5em; 
}

/*CARRITO MEDIDA PARA TABLET */ 

@media (min-width: 768px) and (max-width: 1365px) {

  .background{
    padding: 1rem 1rem 0.5rem 0rem;
  }

  .bi-trash3-fill{
    padding: 0;
  }

  .icon-image-container {
    padding: 0;
  }
}

/*CARRITO MEDIDA PARA SMARTPHONE*/
@media (min-width: 320px) and (max-width: 767px){
.cartImage{
  width: 7.3rem;
  height: 5.6rem;
  margin-right: 0;
  
}

.icon-image-container {
  margin-top: 1.5rem;
  width: fit-content;
  justify-content: flex-start;
}

#tablaCart {
  border-spacing: 0.5rem;
  font-size: 0.6rem;
  position: relative;
  
}

.total-currency {
  padding-bottom: 3rem;
}

.bi-trash3-fill{
  padding: 0;
  margin: 0;
}

.nombreProd{
  font-weight: 500;
}

#tablaCart td{
  font-size: 0.7rem;
}

.background {
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.fixed-column {
  width: auto;
}

#tablaCart td {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
}

.menos, .mas {
  font-size: 0.7rem;
}

#carritoTitulo {
  font-size: 1.4rem;
  line-height: 25px;
  font-weight: normal;
  margin-top: -11rem;
}

#finallity-table td {
  font-weight: bold;
  display: -webkit-inline-box;
  height: fit-content;
  line-height: 0.5;
}

.btn-cartFinal{
  position: absolute;
  bottom: 0;
  transform: translateY(-3rem);
}


.section-buy {
  transform: translateY(-3rem);
  display: flex;
  justify-content: flex-end;
}

.section-buy td {
  transform: translateX(100%);
  padding-right: 2rem;
  width: auto;
  
}
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-toggler{
    width: 13em;
  }
  #nav-carrito{
    width: -1em;
    padding: 0;
  }
  
}


/* BOTON AÑADIR CARRITO PANTALLAS PEQUEÑAS */
@media (min-width: 320px) and (max-width: 878px) { 
.buy-btn-container {
 display: none;
}
}

@media (min-width: 877px) {
.small-btn-comprar {
  display: none;
}
}
/* DARKMODE PANTALLAS PEQUEÑAS NOCHE */
@media (min-width: 320px) and (max-width: 878px) { 
  .dark-mode .bi-trash3-fill {
    color: white; 
  }
  .dark-mode #finallity-table .totalFin,
  .dark-mode #finallity-table .section-buy td {
    color: #9ab2c7c4; 
  }
  .dark-mode #containerCarritoLleno .nombreProd {
    color: #9ab2c7c4; 
  }
  .dark-mode #finallity-table .totalFin,
  .dark-mode #finallity-table .section-buy td:nth-child(2) {
    color: white;
  }
}