/*Categorías para pantallas de celular*/
@media (min-width: 320px) and (max-width: 500px) {
  #categories-filter {
    position: relative !important;
    height: 5rem;
    width: 15rem;
  }

  #rangeFilterCountMax,
  #rangeFilterCountMin {
    width: 3rem;
    padding-right: 0.2rem !important;
    position: absolute;
  }

  #rangeFilterCount {
    margin-left: 2rem !important;
  }

  #cat-list-container {
    margin-left: 0.4rem;
    padding-bottom: 3rem;
  }
}

*BOTONES DE FILTRO EN PRODUCTOS*/ #clearRangeFilter,
#clearRangeFilterSmall {
  color: white;
  margin: auto;
}

#rangeFilterCount {
  margin: auto;
  margin-left: 2rem;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27%;
  margin-left: 27%;
  margin-top: 1%;
  padding: 0.4rem;
  border-radius: 1.5rem;
  width: 100%;
}

.filter-price-text {
  width: fit-content;
  text-align: right;
  padding-right: 0.4rem;
  margin-left: 2rem;
  color: white;
  font-weight: 500;
}

.filters-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button {
  margin-top: 0;
}
