.row-style {
  /*margin-top: 80px;*/
  padding-top: 40px;
  padding-bottom: 40px;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: rgb(255, 255, 255);
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

body {
  font-family: "Jost", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(10deg, #b9d6f2, rgba(3, 83, 164, 0.8));
  margin: 0;
  padding: 0;
}

.subbackground {
  position: static;
  margin-right: 120px;
  margin-left: 120px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0px 8px 6px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: #111010;
  font-weight: bold;
  font-family: sans-serif;
  font-weight: 900;
}

.subtitulo {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 20%;
  height: fit-content;
  padding: 20px;
  background-color: #b9d6f2;
  border-radius: 15px;
}

.sidebar h3,
.sidebar h4 {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.sidebar a {
  color: #000;
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
}

.sidebar ul li ul {
  margin-top: 10px;
  padding-left: 20px;
}

.sidebar ul li ul li {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.filtros {
  padding-left: 10px;
}

.filtros h4 {
  margin-bottom: 10px;
}

.filtros ul {
  list-style-type: none;
  padding-left: 10px;
}

.filtros ul li {
  font-size: 16px;
  margin-bottom: 15px;
}

.colores {
  margin-bottom: 10px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #000;
}

.color:nth-child(1) {
  background-color: #ffffff;
}
.color:nth-child(2) {
  background-color: #cccccc;
}
.color:nth-child(3) {
  background-color: #f9e04b;
}
.color:nth-child(4) {
  background-color: #58ef58;
}
.color:nth-child(5) {
  background-color: #0353a4;
}
.color:nth-child(6) {
  background-color: #e32929;
}

button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 20px auto 0 auto;
  background-color: #0353a4;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #555;
}

.contenido {
  flex: 1;
}

.lista-productos {
  padding: 0 20px;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.producto {
  display: block;
  width: 600px;
  background-color: #a5cbe7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  color: #000;
}

.producto img {
  width: 100%;
  height: auto;
}

.contenedor-img {
  position: relative;
  width: 100%;
}

.contenedor-img img:first-child {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.contenedor-img img[alt="zoom"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.producto h3 {
  font-size: 24px;
  margin: 15px 0 10px 0;
  font-weight: bold;
  color: #000;
}

.producto p {
  font-size: 16px;
  margin: 5px 20px;
  color: #000;
}

.producto .detalles {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.producto .detalles .vendidos {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.producto .detalles .precio {
  color: #000;
}

/* Buscador*/
.searcher {
  margin: 0 1rem;

}

/* BUSCADOR */


#search-input {
width: 200px;
height: 40px;
border-radius: 5px;
display: flex;
gap: 20px;
}

/*BOTONES DE FILTRO EN PRODUCTOS*/

#clearRangeFilter,
#clearRangeFilterSmall {
  color: white;
  margin: auto;
}

#rangeFilterCount {
  margin: auto;
  margin-left: 3rem;
}

.filters-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 0.4rem;
  border-radius: 1.5rem;
}

.filter-price-text {
  width: fit-content;
  text-align: right;
  padding-right: 0.2rem;
  margin-left: 1rem;
}

.filters-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

button {
  margin-top: 0;
}

#linePrice {
  margin-right: 1rem;
}


#products-head-list {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.8px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

/* MEDIDA XS HASTA  575px */
@media (min-width: 320px) and (max-width: 575px) {
  #products-head-list {
    font-size: 1.6rem;
    line-height: 30px;
    margin-top: -2%;
  }
}

  /*ESTILO PARA FILTROS*/
  .filters-container {
    display: none; /* Para ocultar los filtros de pantallas grandes */
  }

  .accordion {
    margin-bottom: 1rem;
    margin-right: 6%;
  }

  #filtersAccordion {
    border: none;
    margin-top: 1rem;
  }

  .accordion-body label,
  .accordion-body input {
    font-size: 0.8rem;
  }

  #filtersAccordion .accordion-body {
    padding: 0.75rem;
  }

  #filtersAccordion .accordion-body .btn-group,
  #filtersAccordion .accordion-body input {
    width: 100%;
    margin-top: 0.5rem;
  }

  #filtersAccordion .accordion-body .filter-price-text {
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding-right: 0.5rem;
    font-size: 0.85rem;
  }

  #clearRangeFilterSmall {
    margin-left: 0;
  }

  #rangeFilterCountSmall {
    margin-left: 0;
    font-size: 0.8rem;
  }

  .accordion-button:not(.collapsed) {
    color: #000;
  }

  #filtersAccordion .accordion-button {
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.85rem;
    padding: 0.3rem 0.5rem;
  }

  .accordion-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .form-control {
    padding: 0.2rem;
  }
  /* para que no se vea la lupa y buscador de pantallas pequeñas */
  .lupa-pequeña{
    display: none;
  }
  .buscador-pequeña{
    display: none;
  }
}



/*MEDIDA SM HASTA 768PX*/
@media (min-width: 576px) and (max-width: 768px) {
  #products-head-list {
    font-size: 35px;
    margin-top: 0px;
  }
}


  /*ESTILO PARA FILTROS*/
  .filters-container {
    display: none; /* Para ocultar los filtros de pantallas grandes */
  }

  .accordion {
    margin-bottom: 1rem;
    margin-right: 6%;
  }

  #filtersAccordion {
    border: none;
    margin-top: 1rem;
  }

  .accordion-body label,
  .accordion-body input {
    font-size: 1rem;
  }

  #filtersAccordion .accordion-body {
    padding: 0.75rem;
  }

  #filtersAccordion .accordion-body .btn-group,
  #filtersAccordion .accordion-body input {
    width: 100%;
    margin-top: 0.5rem;
  }

  #filtersAccordion .accordion-body .filter-price-text {
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  #clearRangeFilterSmall {
    margin-left: 0;
  }

  #rangeFilterCountSmall {
    margin-left: 0;
    font-size: 1rem;
  }

  .accordion-button:not(.collapsed) {
    color: #000;
  }

  #filtersAccordion .accordion-button {
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
  }

  .accordion-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .form-control {
    padding: 0.4rem;
  }

}


/* MEDIDA XL */
@media (min-width: 1200px) and (max-width: 1399px) {
  #products-head-list {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: white;
    margin-top: 50px;
  }
}

.subtitulo {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: center;
}
/* MEDIDA XS HASTA  575px */
@media (min-width: 320px) and (max-width: 575px) {
  .subtitulo {
    font-size: 0.8rem;
    line-height: 5px;
    margin-top: -1%;
  }
}

/*MEDIDA SM HASTA 767PX*/
@media (min-width: 576px) and (max-width: 767px) {
  .subtitulo {
    font-size: 20px;
    line-height: 5px;
    margin-top: -1%;
  }
}

/*MEDIDA LG PARA TABLET HASTA 1199PX*/
@media (min-width: 768px) and (max-width: 1199px) {
  .subtitulo {
    font-size: 20px;
    line-height: 5px;
    margin-top: -1%;
  }
}

#carta-img {
  /*background: rgb(255, 255, 255);*/
  background: #b9d6f2;
}
#carta-img {
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .list-group {
    margin-top: -10%;
    height: 10%;
    margin-bottom: -15%;
  }
}

#navbar {
  background: #0353a4 !important;
}
#img-carta {
  border-radius: 20px 20px 0px 0px !important;
}

.car-cost {
  font-size: 20px;
}
/*MEDIDA XS */
@media (min-width: 320px) and (max-width: 575px) {
  .card-text {
    font-size: 11.5px;
    margin-top: -0.5em;
  }
}

.car-description {
  font-size: 16px;
}
/*MEDIDA XS*/
@media (min-width: 320px) and (max-width: 575px) {
  .car-description {
    font-size: 12px;
    line-height: 1em;
  }
}

.nav-link {
  color: #fff !important;
}

/*Clases del nuevo footer que usamos en el login para que quede igual*/
.footer-container {
  background-color: #b9d6f2;
  padding: 3px;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  color: #000000;
  padding: 10px 0;
}

.footer-link {
  color: #061a40;
  text-decoration: none;
}

hr {
  width: 75%;
  height: 1px;
  background-color: #0353a4;
  margin: 0 auto;
}
.subbackground {
  margin-left: 5%;
  margin-right: 5%;
}

/* MEDIDA XS*/
@media (min-width: 320px) and (max-width: 575px) {
  #margin-p {
    margin-top: 40px;
  }
  
}

/*MEDIDA SM*/
@media (min-width: 576px) {
  #margin-p {
    margin-top: 50px;
  }
}

/*MEDIDA XL*/
@media (min-width: 1200px) {
  #margin-p {
    margin-top: 100px;
  }
}

div #margin-p {
  margin-left: auto;
  margin-right: auto;
}
/* prueba del buscador */
.buscador-pequeña {
margin-left: 1%;
margin-right: 5%;
margin-top: 43px;
}
.lupa-pequeña {
margin-top: 43px;
}