body {
  background: rgb(255, 255, 255);
  background: linear-gradient(10deg, #b9d6f2, rgba(3, 83, 164, 0.8));
  height: 100%;
  margin: 0;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  /*margin-top: 4rem;*/
  height: 100dvh;
  box-sizing: border-box;
}

.main-container {
  flex: 1;
  /*min-height: 100vh;*/
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /*text-shadow: black 5px;*/
}

.profile {
  width: 96px;
  height: 92px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 8px 5px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: rgba(185, 214, 242, 0.5);
  box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container-inputs {
  margin-bottom: 20px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.login-input {
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  color: #1a1a1a;
  padding: 8px 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.center {
  display: block;
  margin: 0 auto;
}

.remember-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember-me {
  display: flex;
}

.checkbox-box {
  margin-right: 5px;
}

.form-check {
  padding: 0;
}

.login-button {
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 10px 20px;
  border: solid #000000 1px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.font-jost {
  font-family: "Jost", sans-serif;
}

p {
  font-family: "Jost", sans-serif;
  margin-top: 20px;
  color: rgb(14, 14, 100);
}

h1 {
  display: block;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: white;
}

.text-regular {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: black;
}

.text-regularph {
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

.text-regular20 {
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: #b9d6f2;
  /*margin-top: 50px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  color: #000000;
  padding: 10px 0;
}

/*.footer-line {
    width: 100%;
    height: 1px ;
    background-color: #007bff; 
    margin: 10px 0; 
} */

hr {
  width: 75%;
  height: 1px;
  background-color: #0353a4;
  margin: 0 auto;
}

.footer-link {
  color: #061a40;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

a {
  color: #000000;
}

.move-right {
  display: block;
  text-align: right;
  margin-right: 1.5rem;
  text-decoration: none;
}

.move-left {
  display: block;
  text-align: left;
  margin-left: 1.5rem;
}
.move-right:hover {
  text-decoration: underline;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

footer {
  margin: 0 !important;
  padding: 0;
}

.center-container p {
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (max-width: 576px) {
  .main-content {
    margin: 0;
    place-items: center;
  }

  .remember-container {
    font-size: 0.9rem;
  }

  .profile {
    max-width: 60px;
    max-height: 58px;
  }

  h1 {
    font-size: 30px;
  }

  .login-container {
    padding: 20px 20px;
  }

  .login-label {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .login-input {
    padding: 4px 10px;
    font-size: 1rem;
  }

  .login-button {
    margin-top: 0;
  }

  .footer-content p {
    margin: 0;
    font-size: 12px;
    line-height: 1;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .main-content {
    margin-top: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
}
/*FALTAN HACER AJUSTES PARA PANTALLA ESTANDAR 
@media (min-width: 992px) */
