/*Página de vender para celular*/
@media (min-width: 320px) and (max-width: 500px) {
  #costos-vender {
    padding-bottom: 2rem;
  }

  #btn-vender {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  #sell-info label {
    color: white;
  }

  #title-sell {
    font-size: calc(1.325rem + 0.9vw);
  }

  #subtitle-sell {
    font-size: 1rem;
    font-weight: 300;
  }
}

.dark-mode .list-group-item {
  background: linear-gradient(#24232344, #5f5f5f96);
}

/* CONFIARMACION DE COMPRA */
.modal-content {
  border-radius: 10px;
  background: linear-gradient(10deg, #b9d6f2, rgba(3, 83, 164, 0.8));
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  margin-top: 200px;
}
.modal-footer {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  width: 100%;
}
.modal-footer .btn {
  flex: 1; /* Hace que ambos botones ocupen el mismo espacio */
  margin: 0 5px; /* Espaciado horizontal entre los botones */
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
